body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

aside {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 2px solid black;
  height: 50rem;
  width: 330px;
  border-radius: 0 25px 25px 0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-top: 40px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.logo {
  width: 181px;
  height: 41px;
  margin: 0 40px;
  margin-top: -1.5rem;
}

.links__top li a {
  display: block;
  text-decoration: none;
  padding: 13px 10px;
  margin-top: 25px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.links__top li,
.links__bottom li {
  list-style-type: none;
}

.links__top li a:hover {
  background: #006400;
  color: white;
  transition: 0.46s;
}

.links__top li .fourth {
  background: #006400;
}
.fourth a {
  color: white;
}

.links__bottom li a {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  display: row;
}

.links__bottom li a {
  padding: 15px;
}

.links__bottom {
  margin-top: 200px;
}

nav {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  border-bottom: 0.5px solid #d9d9d9;
  margin: 10px 20px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.password__container {
  margin: 60px 100px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 45px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.others {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  padding: 0 0 0 20px;
  margin-top: 20px;
}

.others h4 {
  display: flex;
  align-items: center;
}

.btns {
  margin-left: 10px; /* Align buttons to the right */
}

.change__password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 500px; /* Set a max width to prevent overflowing */
}

.change__password input {
  padding: 7px;
  border-radius: 4px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

#second {
  /* margin-left: 10px; */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  background-color: #ffc107; /* Yellow background color */
  color: black; /* Text color */
}

.mobilenav {
  display: none;
}
.topnav {
  display: none;
}

@media (max-width: 800px) {
  aside {
    display: none;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .password__container {
    width: 100%;
    margin-inline: auto;
    margin-top: 80px;
    height: 450px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .others {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 0 0px;
    margin-top: 20px;
  }
  #Password {
    display: none;
  }
  .topnav {
    overflow: hidden;
    background: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 25px;
    z-index: 999;
  }

  .mobilenav {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 70px;
    height: 20rem;
    width: 100%;
    background-color: rgb(243, 243, 243);
    z-index: 999;
    padding: 2px;
    transition: opacity 0.5s ease;
  }

  .mobilenav.show {
    display: flex;
    opacity: 1;
  }

  .mobilenav ul a {
    color: black;
    font-size: 22px;
    text-decoration: none;
  }
  .mobilenav ul li {
    list-style-type: none;
  }
  .navlogo {
    width: 100px;
  }
}
